<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Main Page</h2>
        <p>Lorem ipsum dolor ssit amet consectetur adipisicing elit. Reiciendis dolorum quia magni sapiente quidem
            pariatur id sint nihil ex voluptatibus blanditiis totam neque explicabo quod distinctio ipsum esse, commodi
            voluptatum. Lorem ipsum dolo sit amet consectetur adipisicing elit. Reiciendis dolorum quia magni sapiente
            quidem
            pariatur id sint nihial ex voluptatibus blanditiis totam neque explicabo quod distinctio ipsum esse, commodi
            voluptatum. </p>
    </main>
    <%- include('./fragments/footer.ejs') %>