<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Boat details</h2>
        <form class="form">

            <label for="boatName">Name:</label>
            <input type="text" name="boatName" value="Zodiac" id="boatName" disabled />
            <span id="errorBoatName" class="errors-text"></span>

            <label for="seats">Seats:</label>
            <input type="number" name="seats" value="4" id="seats" disabled />
            <span id="errorSeats" class="errors-text"></span>

            <label for="year">Year:</label>
            <input type="number" name="year" value="2005" id="year" disabled />
            <span id="errorYear" class="errors-text"></span>

            <label for="price">Price:</label>
            <input type="number" name="price" value="40" id="price" disabled />
            <span id="errorPrice" class="errors-text"></span>

        </form>
        <div>
            <a href="boat-edit.html" class="button-edit">Edit</a>
        </div>
        <h2>Rental details</h2>
        <div class="table-wrapper">
            <table class="table-list">
                <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>Date From</th>
                        <th>Date To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>pnowa12@acme.com</td>
                        <td>2020-05-19 10:00:00</td>
                        <td>2020-05-19 12:00:00</td>
                    </tr>
                    <tr>
                        <td>pnowa12@acme.com</td>
                        <td>2020-06-20 18:00:00</td>
                        <td>2020-06-20 20:00:00</td>
                    </tr>
                    <tr>
                        <td>pnowa12@acme.com</td>
                        <td>2020-06-21 11:00:00</td>
                        <td>2020-06-21 14:00:00</td>
                    </tr>
            </table>
        </div>
        <a href="boat-list.html" class="button-back">Back</a>
    </main>
    <%- include('../../fragments/footer.ejs') %>