<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Add new rental</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="email">E-mail: <abbr title="required" aria-label="required">*</abbr></label>
            <select id="email" name="email">
                <option>jan.kowalski@acme.com</option>
                <option>pnowa12@acme.com</option>
                <option>kwiatu@acme.com</option>
                <option>kowalZ11@acme.com</option>
            </select>
            <span id="errorEmail" class="errors-text"></span>

            <label for="boat">Boat name: <abbr title="required" aria-label="required">*</abbr></label>
            <select id="boat" name="boat">
                <option>Zodiac</option>
                <option>Bavaria</option>
                <option>Janmor</option>
            </select>
            <span id="errorBoat" class="errors-text"></span>

            <label for="dateFrom">Date from <abbr title="required" aria-label="required">*</abbr></label>
            <input type="datetime-local" name="dateFrom" id="dateFrom">
            <span id="errorDateFrom" class="errors-text"></span>

            <label for="dateTo">Date to</label>
            <input type="datetime-local" name="dateTo" id="dateTo">
            <span id="errorDateTo" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Add" class="form-button-submit" />
                <a href="rental-list.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>