<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Add new rental</h2>
        <form class="form">
            <label for="email">E-mail: <abbr title="required" aria-label="required">*</abbr></label>
            <select id="email" name="email" value="jan.kowalski@acme.com">
                <option>jan.kowalski@acme.com</option>
                <option>pnowa12@acme.com</option>
                <option>kwiatu@acme.com</option>
                <option>kowalZ11@acme.com</option>
            </select>

            <label for="boat">Boat name: <abbr title="required" aria-label="required">*</abbr></label>
            <select id="boat" name="boat" value="Zodiac">
                <option>Zodiac</option>
                <option>Bavaria</option>
                <option>Janmor</option>
            </select>

            <label for="dateFrom">Date from <abbr title="required" aria-label="required">*</abbr></label>
            <input type="datetime-local" name="dateFrom" id="dateFrom" value="2020-05-19T10:00">

            <label for="dateTo">Date to</label>
            <input type="datetime-local" name="dateTo" id="dateTo" value="2020-05-19T12:00">

            <div class="form-buttons">
                <input type="submit" value="Add" class="form-button-submit" />
                <a href="rental-list.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>