<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Add new rental</h2>
        <form class="form" novalidate onsubmit="return rentalValidateForm();">
            <label for="rentalClientEmail">E-mail: <abbr title="required" aria-label="required">*</abbr></label>
            <select id="rentalClientEmail" name="rentalClientEmail">
                <option>jan.kowalski@acme.com</option>
                <option>pnowa12@acme.com</option>
                <option>kwiatu@acme.com</option>
                <option>kowalZ11@acme.com</option>
            </select>
            <span id="errorRentalClientEmail" class="errors-text"></span>

            <label for="rentalBoat">Boat name: <abbr title="required" aria-label="required">*</abbr></label>
            <select id="rentalBoat" name="rentalBoat">
                <option>Zodiac</option>
                <option>Bavaria</option>
                <option>Janmor</option>
            </select>
            <span id="errorRentalBoat" class="errors-text"></span>

            <label for="rentalDateFrom">Date from <abbr title="required" aria-label="required">*</abbr></label>
            <input type="datetime-local" name="rentalDateFrom" id="rentalDateFrom">
            <span id="errorRentalDateFrom" class="errors-text"></span>

            <label for="rentalDateTo">Date to</label>
            <input type="datetime-local" name="rentalDateTo" id="rentalDateTo">
            <span id="errorRentalDateTo" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummaryRental" class="errors-text"></p>
                <input type="submit" value="Add" class="form-button-submit" />
                <a href="rental-list.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>