<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Client list</h2>
        <div class="table-wrapper">
            <table class="table-list">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>jan.kowalski@acme.com</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="client-details.html" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="client-edit.html" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Paweł</td>
                        <td>Nowak</td>
                        <td>pnowa12@acme.com</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="client-details.html" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="client-edit.html" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Daniel</td>
                        <td>Kwiatkowski</td>
                        <td>kwiatu@acme.com</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="client-details.html" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="client-edit.html" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Zbigniew</td>
                        <td>Kowalczyk</td>
                        <td>kowalZ11@acme.com</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="client-details.html" class="list-actions-button-details">Details</a>
                                </li>
                                <li>
                                    <a href="client-edit.html" class="list-actions-button-edit">Edit</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="client-form.html" class="button-add">Add new client</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>