<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Add new client</h2>
        <form class="form">

            <label for="firstName">First Name: <abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="firstName" id="firstName" value="Paweł" />


            <label for="lastName">Last Name: <abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lastName" id="lastName" value="Nowak" />


            <label for="email">E-mail: <abbr title="required" aria-label="required">*</abbr></label>
            <input type="email" name="email" id="email" value="pnowa12@acme.com" />


            <div class="form-buttons">

                <input type="submit" value="Add" class="form-button-submit" />
                <a href="client-list.html" class="form-button-cancel">Cancel</a>
            </div>

        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>