<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boat Rental</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header>
        <h1>Boat&amp;Go</h1>
        <img src="images/logo.png" alt="BoatAndGo Logo">
    </header>
    <nav>
        <ul>
            <li><a href="index.html" class="active">Main Page</a></li>
            <li><a href="pages/client-list.html">Clients</a></li>
            <li><a href="pages/boat-list.html">Boats</a></li>
            <li><a href="pages/rental-list.html">Rental</a></li>
        </ul>
    </nav>